<p>Here is a list of players participating in the tournament:</p>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        {{#each array}}
            <tr>
                <th scope="row">{{this.rank}}</th>
                <td>{{this.name}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>