<!DOCTYPE html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../layout.css">
    <link rel="stylesheet" href="../{{style}}">
</head>
<body>
    <header>Tennis App in Express</header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {{#is title "Home"}} active{{/is}}">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {{#is title "About"}} active{{/is}}">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item {{#is title "Contact"}} active{{/is}}">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Some other link</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {{{body}}}

        {{#unless style}}
            <h2>No</h2>
        {{else}}
            <h2>EXISTS</h2>
        {{/unless}}

    </div>

    <footer class="fixed-bottom">&copy; AttainU 2019</footer>
</body>
</html>